<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684816528885-0l399od5tta7rern9rmtd7pe1oehv2pi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684816528885-0l399od5tta7rern9rmtd7pe1oehv2pi</string>
	<key>API_KEY</key>
	<string>AIzaSyDSn1VmhfDPmeasWHwIyEWVrbGKvzH7E3I</string>
	<key>GCM_SENDER_ID</key>
	<string>684816528885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kun.doorstepbankingflutter</string>
	<key>PROJECT_ID</key>
	<string>atm-money-transfer</string>
	<key>STORAGE_BUCKET</key>
	<string>atm-money-transfer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684816528885:ios:756cb04b4f9802aac61cbc</string>
</dict>
</plist>